<div class="body">

    <mat-toolbar>
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <span>Administrador</span>
        <!--span>{{ rolAcceso }}</span-->
    </mat-toolbar>

    <mat-sidenav-container class="example-container">

        <mat-sidenav class="mat-elevation-z8" #sidenav="matSidenav" mode="side" opened>
            <img class="avatar mat-elevation-z8" src="./assets/img/cedemusa.jpeg" alt="">
            <h4 class="name">{{ nombreLogin }}</h4>
            <!--p class="designation">Ing. En computación</p-->
            <p class="designation">{{ matriculaLogin }}</p>

            <!-- ----  DIVISION DIVIDER ---------->
            <mat-divider *ngIf="bandera==1"></mat-divider>

            <button mat-button *ngIf="bandera==1" class="menu-button" (click)="botonActualizar()"><mat-icon>home</mat-icon>
                <span><a>Actualizar</a></span>
            </button>

            <mat-divider *ngIf="bandera==1"></mat-divider>

            <!--button mat-button *ngIf="bandera==1" class="menu-button">
                    <mat-icon>person</mat-icon>
                    <span><a [routerLink]="['student/studentCreate']">Crear</a></span>
                </button-->

            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>done</mat-icon>
                <span><a [routerLink]="['student/resultados']">Resultados</a></span>
            </button>

            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>settings</mat-icon>
                <span><a [routerLink]="['student/asignaciones']">Asig. Examenes</a></span>
            </button>
            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>video_library</mat-icon>
                <span><a [routerLink]="['student/catalogovideos']">Asig. Videos</a></span>
            </button>

            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>person</mat-icon>
                <span><a [routerLink]="['student/usuarios']">Usuarios</a></span>
            </button>

            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>menu</mat-icon>
                <span><a [routerLink]="['student/examenes']">Examenes</a></span>
            </button>

            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>dataset</mat-icon>
                <span><a [routerLink]="['student/preguntas']">Preguntas</a></span>
            </button>

            <button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>dataset</mat-icon>
                <span><a [routerLink]="['student/archivos']">Archivos</a></span>
            </button>



            <!-- ----  DIVISION DIVIDER  examenes y videos ADMIN---------->
            <mat-divider *ngIf="bandera==1"></mat-divider>

            <!--mat-select *ngIf="bandera==1">
                <mat-option *ngFor="let option of optionsExamen" [value]="option.value">
                    dd {{ option.label }}
                </mat-option>
            </mat-select-->
            <mat-form-field *ngIf="bandera==1" class="flex-auto">
                <mat-label>Seleccionar examen</mat-label>
                <mat-select [(value)]="examenSeleccionado">
                    <mat-option *ngFor="let opcion of arrayExamenesInt" [value]="opcion">
                        {{ opcion.idExamen }} - {{ opcion.nombreExamen }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!--button mat-button *ngIf="bandera==1" class="menu-button"><mat-icon>check_box</mat-icon>
                <span><a [routerLink]="['student/preguntas']">Examenes admin </a></span>   </button-->
            <button mat-button *ngIf="bandera==1" class="menu-button"
                (click)="presentarExamen()"><mat-icon>check_box</mat-icon>
                <span><a [routerLink]="['student/preguntas']">Presentar examen</a></span>
            </button>

            <mat-divider></mat-divider>

            <!---mat-select *ngIf="bandera==1">
                <mat-option  *ngFor="let option of optionsVideos" [value]="option.value">EE {{ option.label }}</mat-option>
            </mat-select-->

            <mat-form-field *ngIf="bandera==1" class="flex-auto">
                <mat-label>Selecionar video</mat-label>
                <mat-select [(value)]="examenSeleccionado">
                    <mat-option *ngFor="let option of optionsVideos" [value]="option.value">{{ option.label
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button *ngIf="bandera==1" class="menu-button"
                (click)="verVideo()"><mat-icon>video_library</mat-icon>
                <!--span><a [routerLink]="['student/preguntas']">{{video}}</a></span-->
                <span><a [routerLink]="['student/preguntas']">Ver video</a></span>
            </button>


            <!-- ----  SECCION VISIBLE SOLO PARA ESTUDIANTES                                      ------------------->
            <!--mat-divider></mat-divider-->

            <!--mat-select *ngIf="bandera==2">
                <mat-option *ngFor="let option of optionsExamen" [value]="option.value">
                    dd {{ option.label }}</mat-option>
            </mat-select>
            <button mat-button *ngIf="bandera==2" class="menu-button"><mat-icon>check_box</mat-icon>
                <span><a [routerLink]="['student/preguntas']">Examenes Estudiante </a></span>
            </button-->

            <mat-form-field *ngIf="bandera==2" class="flex-auto">
                <mat-label>Seleccionar examen</mat-label>
                <mat-select [(value)]="examenSeleccionado">
                    <mat-option *ngFor="let opcion of arrayExamenesInt" [value]="opcion">
                        {{ opcion.idExamen }} - {{ opcion.nombreExamen }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button *ngIf="bandera==2" class="menu-button"
                (click)="presentarExamen()"><mat-icon>check_box</mat-icon>
                <span><a [routerLink]="['student/preguntas']">Presentar examen </a></span>
            </button>


            <mat-divider *ngIf="bandera==2"></mat-divider>

            <mat-form-field *ngIf="bandera==2" class="flex-auto">
                <mat-label>Selecionar video</mat-label>
                <mat-select [(value)]="examenSeleccionado">
                    <mat-option *ngFor="let option of optionsVideos" [value]="option.value">{{ option.label
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button *ngIf="bandera==2" class="menu-button"
                (click)="verVideo()"><mat-icon>video_library</mat-icon>
                <!--span><a [routerLink]="['student/preguntas']">{{video}}</a></span-->
                <span><a [routerLink]="['student/preguntas']">Ver video </a></span>
            </button>

            <!--button class="spaner" mat-button *ngIf="bandera==2" class="menu-button"><span style="font-size: smaller;"><a (click)="click(1)" [routerLink]="['student/examenvideo']">1SumasyRestas</a></span></button-->

            <!--div *ngIf="bandera==2">
                <button mat-button *ngFor="let item of menu"[routerLink]="item.redirect">{{item.nombre}}</button>
                <button mat-button *ngFor="let item of examenmenu" [routerLink]="['student/examentres'+item.nivel]">
                    {{item.estatusexamen}}</button>
            </div-->

            <!-- ----  DIVISION DIVIDER FINAL---------->
            <mat-divider></mat-divider>

            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>

        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
