<div class="container" style="width: 160%; max-width: 1500px;">
    <mat-toolbar><span>Examenes cat</span></mat-toolbar>

    <input type="file" style="font-size: small" (change)="leerExcel($event)">

    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

    <form *ngIf="!loading" class="column-form" [formGroup]="formularioExamen" (ngSubmit)="submitForm()">

        <mat-form-field class="flex-auto">
            <mat-label for="idExamen">ID Examen</mat-label>
            <input matInput type="text" formControlName="idExamen" (keypress)="soloNumeros($event)">
        </mat-form-field>
        <mat-form-field class="flex-auto">
            <mat-label for="nombreExamen">Examen</mat-label>
            <input matInput type="text" formControlName="nombreExamen">
        </mat-form-field>
        <mat-form-field class="flex-auto">
            <mat-label for="materia">idMateria</mat-label>
            <input matInput type="text" formControlName="idMateria">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nivel</mat-label>
            <mat-select [(value)]="nivelSeleccionado">
                <mat-option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="flex-auto">
            <mat-label for="tiempo">tiempo</mat-label>
            <input matInput type="text" formControlName="tiempo">
        </mat-form-field>

    </form>

    <div class="example-button-row">
        <button (click)="clickGuardarArchivo()" mat-raised-button color="primary">Guardar Preguntas</button>
        <button (click)="handleSendFile()" mat-raised-button color="primary">Guardar Archivo</button>
        <button (click)="clickAgregarExamen()" [disabled]="!formularioExamen.valid" type="submit" mat-raised-button            color="primary">Guardar Examen</button>
        <button (click)="clickModificarExamen()" type="submit" mat-raised-button color="primary">Editar Examen</button>
        <button (click)="clickEliminarExamen()" mat-raised-button color="primary">Eliminar Examen</button>
    </div>

    <table mat-table [dataSource]="dataSourceExamenes" class="mat-elevation-z8">

        <ng-container matColumnDef="idExamen">
            <th mat-header-cell *matHeaderCellDef style="width: 5%;">Id Examen</th>
            <td mat-cell *matCellDef="let element" style="width: 5%;">{{ element.idExamen}}</td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef style="width: 15%;">Tipo</th>
            <td mat-cell *matCellDef="let element" style="width: 15%;">{{ element.tipo}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreExamen">
            <th mat-header-cell *matHeaderCellDef style="width: 15%;">Nombre Examen</th>
            <td mat-cell *matCellDef="let element" style="width: 15%;">{{ element.nombreExamen}}</td>
        </ng-container>

        <ng-container matColumnDef="idMateria">
            <th mat-header-cell *matHeaderCellDef style="width: 5%;">Materia</th>
            <td mat-cell *matCellDef="let element" style="width: 5%;">{{ element.idMateria}}</td>
        </ng-container>

        <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;">Nivel</th>
            <td mat-cell *matCellDef="let element" style="width: 10%;">{{ element.nivel}}</td>
        </ng-container>

        <ng-container matColumnDef="tiempo">
            <th mat-header-cell *matHeaderCellDef style="width: 5%;">Tiempo</th>
            <td mat-cell *matCellDef="let element" style="width: 5%;">{{ element.tiempo}}</td>
        </ng-container>

        <ng-container matColumnDef="preguntas90">
            <th mat-header-cell *matHeaderCellDef style="width: 5%;"># preguntas</th>
            <td mat-cell *matCellDef="let element" style="width: 5%;">{{ element.preguntas90}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
