table {
  width: 100%;
  margin-top: 0;
}

th {
  width: 20%;
}

pointer {
  cursor: pointer;
}

.spinner {
  margin: 0 auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.column-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.example-button-row {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.table-container {
  max-height: 650px;
  overflow: auto;
  margin-top: 10px;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table-wrapper {
  margin-top: 10px;
  overflow-x: auto;
}
