mat-sidenav-container {
    height: calc(100vh - 65px);
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    font-size: 2rem;
    color: lightgray;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo {
    position: relative;
    left: 25%;
    right: 50%;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 100%;
  }
  
  .login {
    width: 100%;
    max-width: 330px;
  
  
    text-align: center;
  }
  
  .ancho {
    width: 80%;
  }
  
  .button {
    height: 50px;
  
  }
  
  .spinner {
    margin: 0 auto;
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    min-height: 200px;
  }

  .loading-text {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 1px;
  }
  
  .example-button-row {
    display: flex;
    max-width: 300px;
  }