<div class="body">
    <div class="login">
        <!--mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner-->
        <form *ngIf="!loading" [formGroup]="formLogin">
        <!--form *ngIf="!loading"-->
            <img src="./assets/img/cedemusa2.jpeg" width="100%">
            <h1>Login </h1>
            <mat-form-field class="ancho">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>

            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="pass">
            </mat-form-field>

            <div class="example-button-row">
                <!--button (click)="clickValidar()" class="ancho button" mat-raised-button mat-button color="primary" [disabled]="formLogin.invalid">Validar</button-->
                <!--button (click)="clickValidar()" class="ancho button" mat-raised-button mat-button color="primary" [disabled]="formLogin.invalid">Validar</button-->
                <button (click)="limpiar()"    class="ancho button" mat-raised-button mat-button color="primary">Limpiar</button>
                <button (click)="datosUsuario()" class="ancho button" mat-raised-button mat-button color="primary" [disabled]="formLogin.invalid">Ingresar</button>
                <!--button (click)="empezar()" class="ancho button" mat-raised-button mat-button color="primary" [disabled]="examen ==0">Empezar</button-->
            </div>

            <h1 style="font-size: small;">v7.1.26</h1>
        </form>
    </div>
</div>
